[gpg]
	program = gpg
[user]
	name = Robert Laszlo Doczi
	email = doczi.r@gmail.com
	signingkey = A13F2EAA826F968B
[commit]
	gpgsign = true
[format]
	pretty = %C(yellow)%h%Creset %s %C(red) (%cr, %aN)%Creset
